@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root{
    --background-color:rgb(226, 179, 78);
    --form-color:rgb(4, 106, 240);
    --button-color:rgb(250, 121, 15);
}

body {
    background-color: var(--background-color);
    margin: 0rem;
}

form{
    max-width:500px;
    margin: auto;
    background-color: var(--form-color);
    padding:2rem;
    border-radius: 0.25rem;
}

header{
    padding-top: 4rem;
    max-width: 500px;
    margin: auto;
    color: white;
    text-align: center;
}
header p{
    font-style: italic;
    text-align: center;
   
}

.form-div{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

label {
    display: flex;
    align-items:center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}


.form-control{
    display: block;
    width: 100%;
}

button{
    max-width: 500px;
    border-color: orangered;
    border-radius: 2rem;
    border-width: .25rem;
    margin: auto;
    background-color: var(--button-color);
    color: whitesmoke;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    align-content:center;
 
}