@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root {
    --background-color: rgb(12, 9, 41);
    --form-color: rgb(133, 173, 226);
    --button-color: rgb(24, 10, 41);
}


body {
    background-color: var(--background-color);
    margin: 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

div {
    display: block;
}


form {
    max-width: 600px;
    margin: auto;
    background-color: var(--form-color);
    padding: 5rem;
    /* border-radius: 0.25rem; */
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    box-shadow: 20px 20px 25px wheat;

}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}


header {
    padding-top: 4rem;
    max-width: 500px;
    margin: auto;
    color: white;
    text-align: center;
}

header p {
    font-style: italic;
    text-align: center;

}

.form-div {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    width: 100%;
}
    
 
::before,*::after{
    box-sizing: border-box;
}




.input-checkbox {
    display: inline-flex;
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-radio {
    display: inline-flex;
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}


label {
    display: flex;
    align-items: center;
    /* font-size: 1.125rem; */
    font-size: 1.125rem;
    margin-bottom: 0.5rem;

}

p {
    font-size: 1.5rem
}

.inline {
    display: inline;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-width: medium;
    border-color: rgb(12, 9, 41);

}

.input-textarea {
    width: 100%;
    height: 8rem;
    border-top-right-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
}

button {
    max-width: 500px;
    border-color: orangered;
    border-radius: 2rem;
    border-width: .25rem;
    margin: auto;
    background-color: whitesmoke;
    color: rgb(11, 5, 51);
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    align-content: center;
    font-size: x-large;


}

button:hover {

    background-color: rgb(11, 5, 51);
    color: whitesmoke;
}